* {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

body {
    height: 100vh;
}

.head-section {
    background-color: #eee;
    text-align: center;
    padding: 20px;
}

.mains-section
{
    padding: 10px;
}


img, table {
    width: 100%;
}

table, th, td {
    padding: 10px;
    border: 1px solid black;
}

table tr:nth-child(odd) {
    background-color: #eee;
}